{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="/agenda/evento"> <button style="cursor:pointer">Novo Evento</button></a>

    <ul style="font-size:18px">
    {% for evento in eventos %}
        <li>
            <div style={% if evento.get_evento_atrasado %}
                                "color:red"
                        {% endif %}>
                {{ evento.titulo }}    {{ evento.local }}    {{ evento.get_data_evento }}
                ( <a href="/agenda/evento/?id={{ evento.id }}" target="_blank">Editar</a>
                / <a href="/agenda/evento/delete/{{ evento.id }}">Excluir</a>)
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}